<%-include("../initials/header")%>

<form action="/student/create" method="post">
  <label for="name">Name</label><input type="text" name="name" /><br/>
  <label for="email">Email</label><input type="email" name="email" /><br/>
  <label for="department">Department</label
  ><input type="string" name="department" /><br/>
  <input type="submit" name="submit" value="Submit" />
</form>
<%-include("../initials/footer")%>
