<%-include("../initials/header")%>
<a href="/mentor/create">Create Mentor</a>
<a href="/student/create">Create Student</a>
<a href="/student/assign-stu">Assign a student for mentor</a>
<a href="/mentor/update-mentor">Assign a mentor for particular student</a>
<%-include("../initials/footer")%>
